{% extends "layout.html" %}

{% block body %}

    <br />
    {% block article_list %}
        {% for article in articles %}
            {% if not loop.index % 3 or loop.index == 0 %}
                <div class="row">
            {% endif %}

                <div class="col-xs-12 col-lg-3 article-teaser">
                    <div class="article-description">
                        <p>
                            <img src="/static/img/rocket.png" />
                        </p>
                        <p class='title'> {{article.title|truncate(100) }}</p>
                    </div>
                    <hr>
                    <p class='learning-link'>
                        <a href="/review/{{article.path}}">Start learning</a>
                    </p>
                </div>

            {% if not loop.index % 3 or loop.index == 0 %}
                </div>
            {% endif %}

        {% endfor %}
    {% endblock %}

{% endblock %}
