{% extends "layout.html" %}

{% block css %}
    <link href="/static/css/vendor/editor/github.css" rel="stylesheet">
    <link href="/static/css/vendor/github.css" rel="stylesheet">
    {{ super() }}
{% endblock %}

{% block js %}
    {{super()}}
    <script type="text/javascript">
        {% if redirect_url %}
            /* Share with old URL to maintain the share counts */
            window.pwidget_config = {
                defaults: { url: "{{redirect_url}}"}
            };
        {% endif %}
        (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = ('https:' == document.location.protocol ? 'https://s' : 'http://i')
            + '.po.st/static/v4/post-widget.js#publisherKey=plv5t1o0it9b73ect06v';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>
{% endblock %}

{% block body %}
<div class="row">
    <div id="article-sidebar" class="col-md-2 affix">
        <p>
            <a href="https://hackguides.typeform.com/to/EwVks9" target="_blank" class="emphasize-dark">Join the movement!</a>
        </p>
        <div id="table-of-contents">
            <h4>Table of Contents</h4>
            <div class="hr-container">
                <hr>
            </div>
        </div>

        <p>
            <a href="{{url_for('write', article_path=article.path, branch=article.branch)}}">Edit this guide <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        </p>
        <p>
            <a href="{{article.external_url}}" target="_blank">View guide on Github
            <span class="glyphicon glyphicon-new-window" aria-hidden="true" style="font-size: 10px;"></span></a>
        </p>

    </div>
    <div id="article" class="col-md-10 col-md-offset-2">
        <div id="article-header">
            {% if article.image_url %}
                <img id="article-img" src="{{article.image_url}}&amp;s=126" width="40" height="40" style="border-radius: 22px;" alt="{{article.author_name}}"/>
            {% endif %}
                <h2 id="author"><a href="/user/{{article.author_name}}">{{article.author_real_name if article.author_real_name else article.author_name}}</a></h2>
            {% if article.stacks %}
                <br />
                <h3 id="related"><small>Related to {{article.stacks|join(',')}}</small></h3>
            {% endif %}
        </div><!-- article-header -->

        <h1 id="title" class="lead">{{article.title}}</h1>

        {{article.content|safe}}

        <div id="user-info" class="row">
            <div class="col-sm-4">
                {% if user.avatar_url %}
                    <img src="{{user.avatar_url}}&amp;s=460" alt="{{user.author_name}}"/>
                {% endif %}

            </div>
            <div class="col-sm-8">
                {% include 'user_info.html' with context %}
            </div>
        </div> <!-- user row -->


        {% if allow_delete %}
            <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete-confirmation">
                Delete article <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            {% include 'confirm_delete.html' %}
        {% endif %}

        {% if publish_statuses %}
        <form action="/publish/" method="POST">
            <input name="path" type="hidden" value="{{article.path}}"/>
            <input name="branch" type="hidden" value="{{article.branch}}"/>

            <select name="publish_status">
            {% for status in publish_statuses %}
                <option value="{{status}}" {{"selected" if status == article.publish_status else ""}}>{{status}}</option>
            {% endfor %}
            </select>

            <button type="submit" class="btn btn-success btn-xs">
                Change publish status
            </button>
        </form>
        {% endif %}

        {% if collaborator %}
            {% if article.published %}
                <form action="/feature/" method="POST">
                    <input name="path" type="hidden" value="{{article.path}}"/>
                    <button type="submit" class="btn btn-success btn-xs">
                        Feature article
                        <span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>
                    </button>
                </form>
            {% endif %}
        {% endif %}

        {% if branches %}
            <h5>Community suggestions</h5>
            <ul>
                {% if article.branch != 'master' %}
                    <li>
                        See {{article.author_name}}'s <a href="{{article|url_for_article(branch='master')}}">original version of this guide</a> or
                        {{article.branch}}'s <a href="https://github.com/{{article.repo_path}}/compare/master...{{article.branch}}" target="_blank">suggestions on github</a>.
                    </li>
                {% endif %}

                {% for branch in branches %}
                    {% if branch != 'master' and branch != article.branch %}
                        <li>
                            See {{branch}}'s <a href="{{article|url_for_article(branch=branch)}}"> version of this guide</a> or their <a href="https://github.com/{{article.repo_path}}/compare/master...{{branch}}"
                    target="_blank">suggestions on github</a>.
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if disclaimer %}
            <small><a href="https://www.pluralsight.com/terms" />Content Terms</a></small>
        {% endif %}

        <div id="disqus_thread"></div>
    </div> <!-- column -->
</div> <!-- row -->

<hr>

{% include "mission.html" %}

{% endblock %}

{% block footer %}

{{super()}}

<script type="text/javascript">
    init_signup_row(800);

    {% if allow_delete %}
        $('#delete-confirmation').on('shown.bs.modal', function () {
            $('#confirm-box').focus();
        });
    {% endif %}

    create_external_links('#article');

    var article = $('#article');

    populate_table_of_contents(article, $('#table-of-contents'));

    create_responsive_tables(article);
    var article_z = article.css('z-index');

    $('#stacks').on('show.bs.select', function(e) {
        /* Fix to allow bootstrap-select dropdown menu on article sidebar to
           show up on top of article. The dropdown menu is in a column with
           "affix" and that seems to obscure the z-index for the dropdown. */
        article.css('z-index', '-1');
    });

    $('#stacks').on('hide.bs.select', function(e) {
        article.css('z-index', article_z);
    });


</script>

<script type="text/javascript">
    var disqus_config = function () {
        this.page.url = "{{canonical_url}}"; 
        this.page.identifier = "{{article_identifier}}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//pluralsighttutorials.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock %}
