                <div id="article-list">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav">
                                <li><a href="{{url_for('index')}}" class="{{ 'active' if not g.drafts_active }}">Top Guides</a></li>

                            {% if session.github_token %}
                            <li><a href="{{url_for('my_drafts')}}" class="{{ 'active' if g.drafts_active }}">My Drafts</a></li>
                            {% endif %}

                            <li class="stack-filter">
                                {% include "stack_filter.html" %}
                            </li>
                            </ul>
                            <br style="clear: left;" />
                        </div>
                    </div>
                    {% for article in articles %}
                        {% if not loop.index0 % 3 %}

                            {% if loop.index0 != 0 %}
                                        </div> <!-- inner-row -->
                                    </div> <!-- col-md-12 -->
                                </div> <!-- outer-row -->
                            {% endif %}

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row article-row">
                                        <div class="col-sm-3 col-md-offset-1 article-teaser" data-row-id="{{loop.index0}}">
                        {% else %}
                                        <div class="col-sm-3 article-teaser" data-row-id="{{loop.index0}}">
                        {% endif %}

                                            <a href="{{article|url_for_article}}">
                                                <span class="clickable"></span>

                                            <div class="row">
                                                <div class="col-xs-3">
                                                    {% for stack in article.stacks %}
                                                        <span class="stack" style="display: none;">{{stack}}</span>
                                                    {% endfor %}
                                                    <div class="article-description">
                                                        {% if article.stack_image_url %}
                                                            <img src="{{article.stack_image_url}}" width="40" height="43" alt="{{article.stacks[0]}}"/>
                                                        {% endif %}

                                                    </div><!-- description -->
                                                </div><!-- col -->
                                                <div class="col-xs-8 article-description title">
                                                    <p> {{article.title|truncate(80, True)}}</p>

                                                    {% if article.thumbnail_url %}
                                                        <img src="{{article.thumbnail_url}}" alt="{{article.title}}" class="thumbnail"/>
                                                    {% endif %}
                                                </div><!-- col -->
                                            </div> <!-- row -->
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <hr>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% if config.ENABLE_HEARTING and article.heart_count %}
                                                    <div class="heart-info heart col-xs-1">
                                                        <span class="heart-count">{{article.heart_count}}</span>
                                                {% else %}
                                                    <div class="heart-info no-heart col-xs-1">
                                                {% endif %}
                                                </div>

                                                <p class="col-xs-11 article-author">
                                                    {% if article.image_url %}
                                                        <img src="{{article.image_url}}&amp;s=100" alt="{{article.user}}"/>
                                                    {% else %}
                                                        <img src="{{url_for('static', filename='img/pluralsight_user.png')}}" alt="Pluralsight User"/>
                                                    {% endif %}

                                                    <span class="name">{{article|author_name|truncate(18, True)}}</span>
                                                    {% if article.author_name != article.author_real_name %}
                                                    <span class="gh-name">@{{article.author_name|truncate(18)}}</span>
                                                    {% endif %}
                                                </p>

                                            </div> <!-- row -->
                                        </a><!-- clickable -->
                                        </div> <!-- teaser col -->
                        {% if loop.last %}
                                    </div> <!-- inner-row -->
                                <div id="no-guides" style="display: none;">
                                    <p>No guides for that selection yet. Share your expertise and <a href="{{url_for('write')}}">write one</a>.</p>
                                </div>
                                </div> <!-- col-md-12 -->
                            </div> <!-- outer-row -->
                        {% endif %}

                    {% endfor %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <!--
                                <div class="col-sm-10 load-guides col-md-offset-1">
                                    Load More
                                </div>
                                -->
                            </div> <!-- inner row -->
                        </div><!-- col -->
                    </div><!-- outer row -->
                </div><!-- article list -->

    <script type="text/javascript">
        /*
            Force stacks select box to hide on initial load to prevent flashing
            of the full box before the bootstrap-select js runs and transforms
            it.
        */
        $('#stacks').hide();
    </script>
