{% extends "layout.html" %}

{% block css %}
    {{ super() }}
    <link href="/static/css/vendor/github.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
{% endblock %}

{% block js %}
    {{super()}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
    <script src="/static/js/utils.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-2">
        <div class="navbar-left-article affix">
            {% include 'signup_form.html' %}

    <br/><br/>

    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Loved%20this%20article%20on%20{{article.title}}">Tweet</a>

    <br/> <br/>
    <div class="fb-like" data-href="{{canonical_url}}" data-layout="button_count" data-action="like" data-show-faces="false">
    </div>
    <br/> <br/>
    <div class="create-tutorial">
        <a href="/write/" class="emphasize">Create tutorial</a>
    </div>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
        </div>
    </div>

    <div class="col-md-2 col-md-push-8">
        <div id="table-of-contents" class="affix">
            <h6>Table of Contents</h6>
            <hr>
        </div>
    </div>

    <div id="article" class="col-md-8 col-md-pull-2">
    <h1 id="title">{{article.title}}</h1>
    <h4 id="author"><small>written by <a href="/user/{{article.author_name}}">{{article.author_real_name if article.author_real_name else article.author_name}}</a></small></h4>

    {% if article.stacks %}
        <h5 id="related"><small>Related to {{article.stacks|join(',')}}</small></h5>
    {% endif %}

    <p> {{article.content|safe}} </p>
    <p>
        {% if allow_edits %}
            <a href="/write/{{article.path}}/"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit article</a>
        {% endif %}
    </p>
    <p>
        <a href="{{article.external_url}}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> View on Github</a>
    </p>

    {% if article.author_name %}
        <p class="small">
        <a href="http://github.com/{{article.author_name}}" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> View more from {{article.author_real_name if article.author_real_name else article.author_name}} on Github</a>
        </p>
    {% endif %}

    {% if disclaimer %}
        <small><a href="https://www.pluralsight.com/terms" />Content Terms</a></small>
    {% endif %}

    {% if article.branches %}
        <h3>Community suggestions</h3>
        <ul>
            {% for branch in article.branches %}
                <li>
                    <a href="/review/{{article.path}}?branch={{branch}}">{{branch}} suggestions</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="disqus_thread"></div>
    </div> <!-- middle column -->
</div> <!-- row -->

<script>
    toc = $("#table-of-contents");
    headers = find_all_headers_without_ids($("#article"));
    if (!headers.length) {
        toc.css("display", "none");
    } else {
        new_toc = create_toc_from_headers(headers);
        $(new_toc).appendTo(toc);
    }
</script>

<script>
    var disqus_config = function () {
        this.page.url = "{{canonical_url}}"; 
        this.page.identifier = "{{article.path}}"; 
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//pluralsighttutorials.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

{% endblock %}
