{% extends "layout.html" %}
{% block body %}

<h1 style="text-align: center;">Thanks for helping us create great guides</h1>

{% if commit_stats %}
<h2 style="text-align: center;">{{commit_stats|length}} authors have contributed so far!</h2>
{% endif %}

<!-- Read this information from a editors.md file
<h2>Community editors</h2>

<p>
    Special thanks to the following community editors for helping improve the
    quality of submitted guides:
</p>

<div class="list-group" style="text-align: center;">
  <a href="https://github.com/prtkgpt" class="list-group-item" style="border: none;">
    <img src="https://avatars.githubusercontent.com/u/2454349?v=3&amp;s=226" width="80" height="80" style="border-radius: 42px;" alt="prtkgpt"/>
    <span class="list-group-item-heading">Prateek Gupta</h4>
    <p class="list-group-item-text">Prateek's bio</p>
  </a>
</div>
- Maybe list 3 users to a row or something.
- Use a table without borders ?

<hr>

-->


<h3>Published leaderboard</h3>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="2">Author</th>
            <th>Guides</th>
            <th width="60%">&nbsp;</th>
        </tr>
    </thead>
    <tbody>

{% for login, (count, avatar_url) in guide_stats|dictsort(by='value')|reverse %}
    {% if login not in ignore_users %}
    <tr>
            {% if avatar_url %}
                <td width="50"><img src="{{avatar_url}}&amp;s=126" width="40" height="40" style="border-radius: 22px;" alt="{{login}}"/></td>
            {% else %}
                <td width="50">&nbsp;</td>
            {% endif %}

        <td class="login-name"><a href="{{url_for('user_profile', author_name=login)}}">{{login}}</a></td>
        <td>{{count}}</td>
        <td width="60%">&nbsp;</td>
    </tr>
    {% endif %}
{% endfor %}

    </tbody>
</table>
</div>


{% if not commit_stats %}
    <h2>Compiling detailed stats from Github.com, please check back soon.</h2>
{% else %}

<hr>

<h4>Weekly contribution leaderboard</h4>
<p style="text-align: center;">
    The table below is sorted by weekly contributions. So every week gives you
    a fresh shot to get to the top.
</p>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="2">Author</th>
            <th>Total commits</th>
            <th>Commits this week</th>
            <th>Additions</th>
            <th>Deletions</th>
        </tr>
    </thead>
    <tbody>

{# This is an ordered dict #}
{% for login, info in commit_stats.iteritems() %}
    {% if login not in ignore_users and info.weekly_commits > 0 %}
    <tr>
        {% if info.avatar_url %}
            <td width="50"><img src="{{info.avatar_url}}&amp;s=126" width="40" height="40" style="border-radius: 22px;" alt="{{login}}"/></td>
        {% else %}
            <td width="50">&nbsp;</td>
        {% endif %}

        <td class="login-name"><a href="{{url_for('user_profile', author_name=login)}}">{{login}}</a></td>
        <td>{{info.total}}</td>
        <td>{{info.weekly_commits}}</td>
        <td>{{info.weekly_additions}}</td>
        <td>{{info.weekly_deletions}}</td>
    </tr>
    {% endif %}
{% endfor %}

    </tbody>
</table>
</div>

{% endif %}
{% endblock %}
