{% extends "layout.html" %}

{% block header %}
    {{super()}}
{% endblock %}

{% block body %}

<h1 class="lead">hack.guides() 2016 Tutorial Contest</h1>

{% if text %}
    <div id="article">{{ text|safe }}</div>
{% endif %}

{% endblock %}

{% block footer %}

{{super()}}

<script type="text/javascript">
function design_tables(div) {
    var tables = $(div).find('table');
    tables.addClass('table-striped table-bordered table-hover');
}
$(document).ready(function() {
    create_responsive_tables('#article')
    design_tables('#article')
});
</script>

{% endblock %}
