{% extends "markdown_page.html" %}

{% block title %}
    <title>2016 hack.guides() Tutorial Contest</title>
{% endblock %}

{% block js %}
    {{super()}}
    <script type="text/javascript">
        (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = ('https:' == document.location.protocol ? 'https://s' : 'http://i')
            + '.po.st/static/v4/post-widget.js#publisherKey=plv5t1o0it9b73ect06v';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>
{% endblock %}

{% block body %}

<h1 class="lead">hack.guides() 2016 Tutorial Contest</h1>

{% if text %}
    <div id="article" style="display: none;" class="markdown-body"></div>
    <textarea id="__initial_content__" style="display: none;">{{ text }}</textarea>

    <script type="text/javascript">
        render_article_text($('#__initial_content__'), $('#article'));
    </script>
{% endif %}

{% endblock %}
