<div id="editor-help">
    <div id="editor-help-controls">
        <span id="close" class="control">x</span>
        <span id="prev" class="glyphicon glyphicon-chevron-left control"></span>
        <span id="next" class="glyphicon glyphicon-chevron-right control"></span>
    </div>

    <div class="section">
        <p>
            <ul>
                <li>Saving a guide sends it straight to our official <a href="{{repo_url}}" target="_blank">Github repository</a> where editors around the world can help.</li>
                <li>
                {% if article and article.author_name != username %}
                    Your guide will be in a new branch of our <a href="{{repo_url}}" target="_blank">Github repository</a>.  The original author can review the changes there.
                {% else %}
                    Your guide will be in the master branch of our <a href="{{repo_url}}" target="_blank">Github repository</a>.
                </li>
                {% endif %}
                <li>
                    Once our editors decide your guide is ready, we'll put it on our <a href="{{url_for('index')}}" target="_blank">homepage</a> to help educate the world.
                </li>
            </ul>
        </p>
    </div>

    <div class="section">
        <p>
            This page supports <a href="http://daringfireball.net/projects/markdown/" target="_blank">markdown</a>,
            which means you can create great looking guides with special
            syntax.  It's designed to work closely with Github.com's
            <a href="https://help.github.com/categories/writing-on-github/" target="_blank">markdown implementation</a>.
            Click the Live Tutorial option above or refer to these links for help:
            <ul>
                <li><a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/" target="_blank">Basic formatting</a></li>
                <li><a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Mastering markdown</a></li>
            </ul>
        </p>
    </div>

    <div class="section">
        <p>
            We'll automatically a create Table of Contents for your
            guide based on your usage of &lt;h1&gt; and &lt;h2&gt; tags the
            equivalent '#' and '##' markdown headers.
        </p>
    </div>

    <div class="section">
        <p>
            You can show/hide this help as needed by clicking the 'Help'
            option in the options menu above.
        </p>
    </div>

</div> <!-- editor-help -->
