{% extends "layout.html" %}

{% block body %}

<input id="title" name="title" type="text" class="form-control" placeholder="Title" value="{{title}}"/>

<br />

<div id="epiceditor"></div>

<br />
<button onclick="save()" class="btn btn-primary">Save</button>

<textarea id="content" style="display:none">{{article_text}}</textarea>

{% endblock %}

{% block js %}

    {{super()}}

    <script src="/static/js/vendor/editor/highlight.pack.js"></script>
    <script src="/static/js/vendor/editor/epiceditor.min.js"></script>

    <script type="text/javascript">
        var editor = new EpicEditor({
            clientSideStorage: false,
            textarea: "content",
            basePath: '/static/css/vendor/editor/',
            autogrow: true,
            theme: {
                base: '/themes/base/epiceditor.css',
                preview: '/themes/preview/github.css',
                editor: '/themes/editor/epic-light.css'
            },
        }
        ).load();

        // Have to dynamically stuff in the correct css in the iframe for the
        // editor
        iframe = editor.getElement('previewerIframe');
        css = document.createElement('link');
        css.href = "/static/css/vendor/github.css";
        css.rel = "stylesheet";
        css.type = "text/css";
        iframe.contentDocument.body.appendChild(css);

    function save() {
        var form = document.createElement("form");
        form.action = "/save/";
        form.method = "POST";

        var content = document.createElement("input");
        content.name = "content";
        content.value = editor.exportFile("", "json");
        form.appendChild(content.cloneNode());

        var sha = document.createElement("input");
        sha.name = "sha";
        sha.value = "{{sha}}"
        form.appendChild(sha.cloneNode());

        var path = document.createElement("input");
        path.name = "path";
        path.value = "{{path}}"
        form.appendChild(path.cloneNode());

        var title = document.getElementById("title");
        form.appendChild(title.cloneNode());

        // To be sent, the form needs to be attached to the main document.
        form.style.display = "none";
        document.body.appendChild(form);

        form.submit();

        // But once the form is sent, it's useless to keep it.
        document.body.removeChild(form);
    };

    </script>
{% endblock %}
