{% extends "layout.html" %}

{% block body %}

<input id="title" name="title" type="text" class="form-control" placeholder="title" />
<br />

<div id="epiceditor"></div>

<br />
<button onclick="save()" class="btn btn-primary">Save</button>

{% endblock %}

{% block js %}

    {{super()}}
    <script src="/static/js/vendor/editor/epiceditor.min.js"></script>
    <script type="text/javascript">
        var editor = new EpicEditor({
            basePath: '/static/css/vendor/editor/',
            autogrow: true,
            theme: {
                base: '/themes/base/epiceditor.css',
                preview: '/themes/preview/github.css',
                editor: '/themes/editor/epic-light.css'
            },
        }
        ).load();
        editor.importFile("{{path}}", "{{article_text}}");

    function save() {
        var form = document.createElement("form");
        form.action = "/save/";
        form.method = "POST";

        var content = document.createElement("input");
        content.name = "content";
        content.value = editor.exportFile("{{path}}", "json");
        form.appendChild(content.cloneNode());

        var article_id = document.createElement("input");
        article_id.name = "article_id";
        article_id.value = "{{article_id}}"
        form.appendChild(article_id.cloneNode());

        var title = document.getElementById("title");
        form.appendChild(title.cloneNode());

        // To be sent, the form needs to be attached to the main document.
        form.style.display = "none";
        document.body.appendChild(form);

        form.submit();

        // But once the form is sent, it's useless to keep it.
        document.body.removeChild(form);
    };

    </script>
{% endblock %}
