{% extends "markdown_page.html" %}

{% block body %}

<h1>Our Mission</h1>

{% if text %}
    <div id="article" style="display: none;" class="markdown-body"></div>
    <textarea id="__initial_content__" style="display: none;">{{ text }}</textarea>

    <script type="text/javascript">
        render_article_text($('#__initial_content__'), $('#article'));
    </script>

    <p>
        <a href="{{repo_url}}/blob/master/faq.md" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Edit FAQ on Github</a>
    </p>
{% endif %}

{% endblock %}

{% block footer %}

{{super()}}

<script type="text/javascript">
    init_signup_row(600, "slack");
    show_slack_stats($('#slack_stats'));
</script>

{% endblock %}
