{% extends "layout.html" %}

{% block header %}
    {{super()}}
{% endblock %}

{% block body %}

<h1 class="lead">Our Mission</h1>

{% if text %}
    <div id="article">{{ text|safe }}</div>
    <p>
        <a href="{{repo_url}}/blob/master/faq.md" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Edit FAQ on Github</a>
    </p>
{% endif %}

{% endblock %}

{% block footer %}

{{super()}}

<script type="text/javascript">
    init_signup_row(600, "slack");
    show_slack_stats($('#slack_stats'));
</script>

{% endblock %}
