        <div class="navbar-header">
          <a class="navbar-brand" href="https://www.pluralsight.com">
              <img src="/static/img/logo.png" width="280" height="36">
          </a>
          <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.pluralsight.com">Pluralsight</a></li>
                <li><a href="https://www.pluralsight.com/privacy">Privacy Policy</a></li>
                <li><a href="mailto:prateek-gupta@pluralsight.com">Contact Us</a></li>
            </ul>
          </div>
        </div>
