{% extends "layout.html" %}

{% block header %}
    {{super()}}

    <div class="container">
        <div id="featured">
        {% if featured_article %}
                <a href="/review/{{featured_article.path}}">
                    <span class="intro">Featured Guide</span>
                    <h1 class="lead">{{featured_article.title}}</h1>
                    <h2><small>by {{featured_article|author_name}}</small></h2>
                </a>
        {% endif %}
        </div>
    </div>

{% endblock %}

{% block body %}
    {% include "article_list.html" %}

    <div class="row">
        <div class="col-md-12 manifesto">
            <h2>A developer community for writing guides</h2>
            <p>
                This is a community for collaborating on creating
                great technical guides.  Our collective aim is by
                working together, we can educate the world and improve
                our knowledge.
            </p>
        </div>
    </div>

{% endblock %}
