{% extends "layout.html" %}

{% block header %}
    {{super()}}

    <div class="container">
        <div id="featured">
        {% if featured_article %}
                <a href="{{featured_article|url_for_article}}">
                    <span class="intro">Featured Guide</span>
                    <h1 class="lead">{{featured_article.title}}</h1>
                    <h2><small>by {{featured_article|author_name}}</small></h2>
                </a>
        {% else %}
            <a href="/faq/">
                <span class="intro">Featured Guide</span>
                <h1 class="lead">A Call for Hackers to teach.&nbsp;&nbsp;Together.</h1>
                <h2><small>by hack.guides()</small></h2>
            </a>
        {% endif %}
        </div>
    </div>

{% endblock %}

{% block body %}
    {% include "article_list.html" %}
    {% include "mission.html" %}
{% endblock %}
