{% extends "layout.html" %}

{% block body %}

<h2>Github Required</h2>

<p> <a href="/github_login">Login with Github</a> </p>

<h2>Why</h2>

<p>
    Creating new accounts sucks.  That's why we're leveraging <a href="https://www.github.com">Github</a> for authentication.  <a href="https://github.com/join">Create an account</a> if you don't already have one.
</p>

<h2>What do you do with my account?</h2>

<p>
    We'll only use your account to:
    <ul>
        <li>Verify you are who you say you are</li>
        <li>Read your username and email address (for adding you as a collaborator and commiting changes)</li>
    </ul>
</p>

{% endblock %}
