{# Template to inherit from if your page will be rendering the main content from markdown #}

{% extends "layout.html" %}

{% block header %}
    {{super()}}
{% endblock %}

{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/hljs_github-gist.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/github-markdown.css') }}">
{% endblock %}

{% block js %}
    {{super()}}
    <!-- base -->
    <script src="{{ url_for('static', filename='js/vendor/editor/highlight.pack.js') }}"></script>
    <!-- marked -->
    <script src="{{ url_for('static', filename='js/vendor/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/vdom/blake2s.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/editor/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/marked_settings.js') }}"></script>
    <!-- page -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}
