        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              <img src="/static/img/logo.png" width="230" height="29">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{{ 'active' if g.index_active }}"><a href="/">Home</a></li>

            {% if session.github_token %}
                <li class="{{ 'active' if g.write_active }}"><a href="/write/">Write</a></li>
                <li class="{{ 'active' if g.review_active }}"><a href="/review/">Review</a></li>
                <li class="{{ 'active' if g.profile_active }}"><a href="/user/">Profile</a></li>
                <li class="{{ 'active' if g.faq_active }}"><a href="/faq">FAQ</a></li>
                <li><a href="/logout">Logout ({{session.name}})</a></li>
            {% else %}
                <li class="{{ 'active' if g.write_active }}"><a href="/write/">Write</a></li>
                <li class="{{ 'active' if g.faq_active }}"><a href="/faq">FAQ</a></li>
                <li><a href="/login" class="emphasize login" style="color: #f96826; width: 120px; font-weight: 500;">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->

