{% extends "layout.html" %}

{% block title %}
    {% if user %}
        <title>{{user.name if user.name else user.login}} | hack.guides()</title>
    {% else %}
        {{super}}
    {% endif %}
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8">
        <h1>{{user.name}}</h1>
        <div class="user-profile">
            {% include 'user_info.html' with context %}
        </div>

        {% if published %}
            <h2>Published Guides</h2>
            {% with articles=published %}
                {% include 'simple_article_list.html' %}
            {% endwith %}
        {% endif %}

        {% if in_review %}
            <h3>In-Review Guides</h3>
            {% with articles=in_review %}
                {% include 'simple_article_list.html' %}
            {% endwith %}
        {% endif %}

        {% if draft %}
            <h4>Draft Guides</h4>
            {% with articles=draft %}
                {% include 'simple_article_list.html' %}
            {% endwith %}
        {% endif %}

        {% if not published and not in_review and not draft %}
            <p>No guides yet!</p>
        {% endif %}

    </div>

    <div class="col-md-4 img-column">
        {% if user.avatar_url %}
            <img height="230" src="{{user.avatar_url}}&amp;s=460" width="230" />
        {% endif %}
    </div>
</div>

{% endblock %}
