{% extends "layout.html" %}

{% block body %}

<div class="row">
    <div class="col-md-8">
        <h2>{{user.name if user.name else user.login}}'s guides</h2>

        {% for article in articles %}
            {% if loop.index0 == 0 %}
                <ul>
            {% endif %}

            <li><a href="/review/{{article.path}}">{{article.title}}</a></li>

            {% if loop.last %}
                </ul>
            {% endif %}
        {% else %}
            <p>No guides yet!</p>
            <p>
                As a next step, why not create an guide? You can do so by
                <a href="/write/">clicking here</a>.
            </p>
        {% endfor %}

    </div>

    <div class="col-md-4">
        {% if user.avatar_url %}
            <img height="230" src="{{user.avatar_url}}&amp;s=460" width="230" />
        {% endif %}
    </div>
</div>

{% endblock %}
