{% extends "layout.html" %}

{% block header %}
    {{super()}}
    <div class="container">
        <div id="featured">
            <h1 class="lead">Give back.</h1>
            <p>
                You have unique expertise. Give back to the community by
                <a href="{{url_for('index')}}">writing a new guide</a> or editing one of the guides
                needing review.
            </p>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% include "article_list.html" %}
    {% include "mission.html" %}
{% endblock %}
