        <div id="signup">
            <form action="{{url_for('subscribe')}}" method="POST" id="signup-form" class="form-inline">
                <div class="form-group form-group-sm">
                    {{ form.hidden_tag() }}
                    {{ form.email(class='form-control', id='email', type='email', placeholder='Email address') }}
                </div>
                <div class="form-group form-group-sm">
                    <select id="stacks-select" name="stacks" class="form-control selectpicker dropup" data-header="Scroll for additional stacks" data-size="6" data-selected-text-format="count > 0" data-dropup-auto="false" title="Your Favorite Topics" multiple>
                        {% for stack in form.stacks %}
                            {{ stack() }}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button type="submit" class="btn btn-primary btn-xs" form="signup-form">Submit</button>
                </div>
            </form>
        </div>

        <!--
          Workaround for having the 'regular' select flash open on load.
          Previously we could see the unstyled <select> tag opened before the
          bootstrap-select js would run and transform it.  This way we'll hide
          it and then it'll only be visible once the transformation from
          bootstrap-select happens.
        -->
        <script type="text/javascript">
            $('#stacks-select').hide();
        </script>
