        <div id="signup">
            <p><b>FREE EMAIL UPDATES</b></p>
            <p>The best tutorials direct to your inbox</p>
            <form action="/subscribe/" method="POST" id="signup-form" class="form-inline">
                <div class="form-group form-group-sm">
                    {{ form.email(class='form-control', id='email', type='email', placeholder='Email') }}
                </div>
                <div class="form-group form-group-sm">
                    {{ form.hidden_tag() }}
                    <select name="stacks" class="form-control selectpicker dropup" data-size="6"  data-dropup-auto="false" data-live-search="true" title="Your favorite topics" multiple>
                        {% for stack in form.stacks %}
                            {{ stack() }}
                        {% endfor %}
                    </select>
                </div>
            <div class="form-group form-group-sm">
                <button type="submit" class="btn btn-primary btn-xs" form="signup-form">Keep Learning</button>
            </div>
            </form>
        </div>
