<p class="login-button"> <a href="{{url_for('github_login')}}" class="btn-primary btn btn-lg">Login with Github</a> </p>

<br />

<h2>Why Github?</h2>

<ol>
    <li>Most developers already have an account</li>
    <li>Link all your contributions to your profile on the biggest social coding platform</li>
    <li>
        All the <a href="http://github.com/pluralsight/guides-cms" target="_blank">code for this CMS</a> and <a href="http://github.com/pluralsight/guides" target="_blank" >the guides</a> are hosted on Github
    </li>
</ol>

<h3>Why should you participate?</h3>

<ol>
    <li>Share your knowledge and best-practices with the wider developer community</li>
    <li>Make a meaningful impact to open-source knowledge</li>
    <li>Build thought leadership through your writing</li>
    <li>Vote on other guides to help surface the best content to the top of the site</li>
</ol>

<h3>Our promise</h3>

We're built on the power of open-source and with the goal of educating the
world, so we promise to be good stewards of your Github account.  You can
always disable access directly from Github if you change your mind.
