body {
  padding-top: 50px;
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand img {
    margin-top: -7px;
}

dt {
    padding: .2em .2em .2em 0em;
    font-size: 1.2em;
}

dd {
    padding-left: .8em;
}

.navbar-left {
    position: fixed;
    z-index: 1000;
}

.article-right {
    margin-left: 120px;
}
