body {
  padding-top: 50px;
  font-family: "Gotham SSm A","Gotham SSm B",sans-serif;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Push logo down simliar to Pluralsight navbar */
.navbar-brand img {
    margin-top: 35px;
}


/* Nav bar is much shorter on small screens */
@media(max-width:767px) {
    .navbar-brand img {
        margin-top: -8px;
    }
}

.article-right {
    margin-left: 140px;
}

/* Default color of Pluralsight buttons */
.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
    background-color: #fb6e20;
    border-color: #fb6e20;
}

.navbar-left {
    position: fixed;
    z-index: 1000;
}

/* Use default Pluralsight link styling */
a,
a:visited,
a:hover,
a:focus {
  color: #f96816;
  text-decoration: none;
}

/* Make navbar height simliar to main Pluralsight navbar */
#navbar {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Remove box around active links  */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #222;
}

/* Give a bit of breathing room to surrounding area of message boxes */
.bg-info, .bg-danger {
    padding: 10px;
}
