html {
    height: 100%;
}

body {
  font-family: "Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  letter-spacing: -.015em;
}

/* Logo-menu and effects */

.hack-links {
    margin: 0;
    padding: 0;
}

.hack-links a {
    display: block;
    padding: 0;
}

.navbar-brand {
    z-index: 1020; /* modal 1050/1040, fullscreen 1030 */
    position: relative;
}

.navbar-brand img {
    display: inline-block;
}

.navbar .navbar-brand {
    background-color: #fff;
}

.navbar-inverse {
    background-color: transparent;
    border: none;
}

.navbar-inverse .navbar-brand {
    background-color: transparent;
}

.hack-links-plus-icon {
    z-index: 1020;
    padding: 0;
    margin-top: 8px;
    cursor: pointer;

    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);

    -moz-transition: -moz-transform 0.4s cubic-bezier(0.08, 1.09, 0.64, 1.12);
    -o-transition: -o-transform 0.4s cubic-bezier(0.08, 1.09, 0.64, 1.12);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.08, 1.09, 0.64, 1.12);
    transition: transform 0.4s cubic-bezier(0.08, 1.09, 0.64, 1.12);
}

.hack-links:hover .hack-links-plus-icon, .hack-links:focus .hack-links-plus-icon, .hack-links:active .hack-links-plus-icon {
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.external-hack-links img {
    width: 200px;
}

.hack-links .external-hack-links {
    z-index: 1010;
    position: absolute;
    width: 240px;
    height: 110px;
    top: -160px;
    left: 0;
    padding: 10px 0;
    opacity: 0;

    -webkit-transition: -webkit-transform 0.2s cubic-bezier(.08,1.09,.64,1.12);
    -moz-transition: -moz-transform 0.2s cubic-bezier(.08,1.09,.64,1.12);
    -o-transition: -o-transform 0.2s cubic-bezier(.08,1.09,.64,1.12);
    transition: transform 0.2s cubic-bezier(.08,1.09,.64,1.12);
}

.hack-links:hover .external-hack-links {
    transform: translateY(200px);
    padding-bottom: 0;
    opacity: 1;
}

.navbar .hack-links:hover .external-hack-links {
    background-color: #fff;
    border: 1px solid #eee;
    border-top: 0;
}

.navbar .hack-links:hover .external-hack-links img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.navbar-inverse .hack-links:hover .external-hack-links {
    background-color: #222;
    border: 1px solid #111;
    border-top: 0;
}

.navbar-inverse .hack-links:hover .external-hack-links img {
    filter: invert(0%);
    -webkit-filter: invert(0%);
}

.navbar .external-hack-links a:hover {
    background-color: #eee;
}

.navbar-inverse .external-hack-links a:hover {
    background-color: #444;
}

/* Default color of Pluralsight buttons */
.btn-primary {
    background-color: #fb6e20;
    border-color: #fb6e20;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:active:focus {
    background-color: #ed681e;
    border-color: #ed681e;
}

/* Use default Pluralsight link styling */
a, a:visited, a:hover, a:focus {
    color: #f96816;
    text-decoration: none;
}

.emphasize {
    border: 1px solid #ffffff;
    padding: 15px;
}

.emphasize-dark {
    border: 1px solid #000000;
    padding: 15px;
}

#navbar a.emphasize {
    padding: 15px 35px 15px 35px;
}

#article-sidebar {
    /* Allow this secondary content fall behind other stuff */
    z-index: 1;
}

#article-sidebar .emphasize-dark {
    text-align: center;
    padding: 8px;
}

a:hover.emphasize-dark  {
    color: #000000;
}

#header-white {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 15px 15px 15px;
}

.navbar-brand {
    padding-left: 0px;
    padding-top: 0px;
}

#header-white .navbar {
    background-color: #ffffff;
}

#header-white #navbar a, #header-white #navbar a:visited, #header-white #navbar a:focus {
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
}

#header-white .emphasize {
    border: 1px solid #000000;
}

#hero {
    background-image: url('/static/img/hero.png');
    width: 100%;
    background-size: cover;
}

#header-dark {
    background-color: #2d2d2d;
    color: #ffffff;
    padding: 15px 15px 15px 15px;
}

#header-dark .navbar {
    background-color: #2d2d2d;
    border: none;
}

#hero #header-dark .navbar {
    background-color: transparent;
}

#hero #header-dark {
    background-color: transparent;
}

#hero #header-dark #navbar {
    background-color: transparent;
}

#header-dark #navbar a,
#header-dark #navbar a:visited,
#header-dark #navbar a:focus {
    color: #ffffff;
}

#header-dark #navbar .dropdown-menu a,
#header-dark #navbar .dropdown-menu a:visited,
#header-dark #navbar .dropdown-menu a:focus {
    color: #000000;
    background-color: #ffffff;
}

#header-dark #navbar .dropdown-menu a:hover {
    color: #f96816;
}

#header-dark #navbar a:hover, #header-white #navbar a:hover {
    color: #f96816;
}

/* Overwrite bootstrap default icon bar to make it show up on white background */
#header-white .navbar-toggle .icon-bar {
    background-color: #000000;
}

#featured {
    background-color: #414042;
    min-height: 200px;
    margin-top: 130px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#featured span.intro {
    font-size: 16px;
    padding-left: 10px;
}

#featured a, #featured a:visited, #featured a:focus #featured a:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.lead {
    font-size: 46px;
}

#featured p {
    font-size: 20px;
}

#body {
    background-color: #ffffff;
    color: #000000;
}

#hero + #body {
    background-color: #171717;
    color: #ffffff;
}

.body-dark {
    background-color: #171717;
    color: #ffffff;
}

.article-teaser {
    background-color: #2d2d2d;
    margin-right: 30px;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.article-teaser img.thumbnail {
    display: block;
    border: none;
}

@media(max-width:992px) {
    .article-teaser {
        margin-left: 30px;
    }
    .load-guides {
        margin-left: 45px;
    }
}

.article-teaser:hover {
    color: #f96816;
    -moz-box-shadow: 1px 1px 5px #333;
    -webkit-box-shadow: 1px 1px 5px #333;
    box-shadow: 1px 1px 5px #333;
}

.article-teaser .article-author {
    color: #888888;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.article-teaser .article-author span.name {
    margin-right: 10px;
    margin-top: 5px;
    float: right;
}

.article-teaser .article-author span.gh-name {
    position: absolute;
    top: 25px;
}

.article-teaser .article-author img {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 26px;
}

/* Allow entire article teaser to be clickable */
.article-teaser span.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.article-teaser .title {
    font-size: 15px;
    height: 50px;
}

.article-teaser hr {
    /* override bootstrap defaults */
    border-top: 1px solid #000000;
}

.article-description {
    /* Based off of article-teaser height. Forces the hr and link inside teaser
    * to show up in uniform place regardless of title length. */
    height: 100px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 10px;
}

#article-header {
    position: relative;
}

#article-header img {
    float: left;
}

#article-header h2 {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 16px;
}

#article-header h3 {
    clear: left;
    position: absolute;
    /* based on size of article image */
    left: 50px;
    top: 0px;
    font-size: 16px;
}

#title {
    clear: left;
}

#table-of-contents {
    margin-top: 30px;
    font-size: 12px;
}

#table-of-contents ul {
    list-style-type: none;
    padding-left: 0px;
}

#table-of-contents h4 {
    font-size: 15px;
    color: #b0b0b0;
}

#table-of-contents a,
#table-of-contents a:visited,
#table-of-contents a:focus {
    color: #b0b0b0;
}

#table-of-contents a:hover {
    color: #f96816;
}

#article-sidebar .hr-container {
    width: 30%;
}

/* Push article text over to account for the octicon-link showing up on hover.
 * Without this the headers would appear slightly indented on entire article
 * this forces all text to left align so the octicon link can show up in the
 * padding. */
#article p {
    padding-left: 21px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#article pre, #article blockquote, #article form {
    margin-left: 21px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#article code {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#article form {
    display: inline;
}

#article h1 .octicon-link,
#article h2 .octicon-link,
#article h3 .octicon-link,
#article h4 .octicon-link,
#article h5 .octicon-link,
#article h6 .octicon-link {
    margin-right: 5px;
    vertical-align: middle;
    visibility: hidden;
}

#article h1:hover .octicon-link,
#article h2:hover .octicon-link,
#article h3:hover .octicon-link,
#article h4:hover .octicon-link,
#article h5:hover .octicon-link,
#article h6:hover .octicon-link {
    visibility: visible;
}

#user-info {
    background-color: #efefef;
    padding: 15px;
    margin-bottom: 30px;
}

#user-info h4 {
    margin-top: 0px;
}

#user-info p {
    padding-left: 0px;
}

#user-info img {
    max-width: 230px;
    max-height: 230px;
}

#footer {
    /* Necessary to make sure table of contents z-index flows behind this. */
    position: relative;
    z-index: 2;
    margin-top: 0px;
    padding: 15px 15px 100px 15px;
    background-color: #2d2d2d;
    color: #ffffff;
    min-height: 300px;
}

#footer .emphasize {
    padding: 15px;
}

#footer a, #footer a:focus, #footer a:visited {
    color: #ffffff;
}

#footer a:hover {
    color: #000000;
    text-decoration: none;
}

#footer a.emphasize, #footer a.emphasize:focus, #footer a.emphasize:visited {
    font-size: 18px;
    color: #ffffff;
}

#footer a.emphasize:hover {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}

#footer {
    text-align: center;
}

#footer img {
    margin-bottom: 10px;
}

#footer .social-links {
    padding-top: 10px;
}

#footer .social-links img {
    margin-right: 15px;
}

#article-list {
    background-color: #222222;
    padding: 15px;
    min-height: 250px;
    color: #ffffff;
    margin-bottom: 30px;
}

#article-list .nav {
    border-bottom: 1px solid #656466;
    color: #888888;
}

#article-list .nav > li {
    float: left;
}

#stacks {
    color: #696969;
    font-size: 14px;
}

/* Stack filter box */
#article-list .form-control {
    background-color: #222222;
}

#article-list .btn-default {
    background-color: #222222;
    border: none;
    font-size: 14px;
    color: #696969;
    padding-top: 10px;
}

/* Help on stack filter box */
#article-list .popover-title {
    background-color: #222222;
    border-bottom: 1px solid #696969;
}

#article-list .dropdown-menu {
    background-color: #222222;
}

/* 'X' button on stack filter box */
#article-list .dropdown-menu .close {
    color: #ffffff;
}

#article-list .dropdown-menu li a:hover {
    background-color: #696969;
}

#article-list .nav li a.active, #article-list .nav li a.active:visited, #article-list .nav li a.active:focus, #article-list .nav li.active:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: #222222;
    border-bottom: 5px solid #f96816;
}

#article-list .nav li a, #article-list .nav li a:visited, #article-list .nav li a:focus, #article-list .nav li:hover {
    color: #ffffff;
    background-color: #222222;
}

#signup-row {
    position: relative;
    z-index: 3;
    background-color: rgba(41, 45, 53, 0.901961);
    border-top-color: rgba(255, 255, 255, 0.0980392);
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0px;
}

#signup-row #signup {
    position: relative;
}

#signup-row p, #signup-row h4 {
    color: #ffffff;
    text-align: center;
}

.close-btn {
    text-shadow: 0 0 0 transparent;
    opacity: 1;
    color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
    top: 20px;
    right: 30px;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
}

.close-btn:hover {
    opacity: .5;
    cursor: pointer;
}

#signup {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

#signup a {
    color: #000000;
}

#signup form {
    margin-top: 10px;
}

#signup button {
    padding-bottom: 10px;
}

#footer #signup form {
    margin-top: 0px;
}

#footer #signup .form-group {
    margin-right: 15px;
    width: 200px;
}

#signup .btn-primary,
#signup .btn-primary:focus,
#signup .btn-primary:hover,
#signup .btn-primary:active,
#signup .btn-primary:active:hover,
#signup .btn-primary:active:focus {
    font-size: 15px;
    padding: 4px 4px 8px 4px;
    margin-top: 4px;
    background-color: #f96816;
    border-color: #f96816;
    color: #ffffff;
}

#footer #signup .btn-primary {
    width: 180px;
    margin-left: -10px;
}

#footer #signup .btn-primary,
#footer #signup .btn-primary:focus,
#footer #signup .btn-primary:hover,
#footer #signup .btn-primary:active,
#footer #signup .btn-primary:active:hover,
#footer #signup .btn-primary:active:focus {
    background-color: #f96816;
    border-color: #f96816;
}

#footer #signup #email {
    margin-top: 5px;
    height: 35px;
    width: 210px;
}

.slack-signup a,
.slack-signup a:active,
.slack-signup a:hover,
.slack-signup a:visited,
.slack-signup a:focus {
    font-size: 16px;
    padding: 10px 65px;
    background-color: #f96816;
    border-color: #f96816;
    color: #ffffff;
}

.slack-signup p {
    margin-bottom: 25px;
}

.load-guides {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;
    background-color: #d1d1d1;
    text-align: center;
    font-size: 16px;
    padding: 15px 20px 15px 20px;
}

.mission {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

#hero .mission {
    background-color: transparent;
}

#hero .mission a,
#hero .mission a:visited {
    color: #ffffff;
}

#hero .mission a:hover,
#hero .mission a:focus {
    color: #f96816;
}

#share-column .emphasize {
    border: 1px solid #f96616;
    padding: 15px;
}

/* Overrides bootstrap-markdown CSS */
.md-preview {
    padding: 15px;

}

/* Give a bit of breathing room to surrounding area of message boxes */
.bg-info, .bg-danger, .bg-warning {
    padding: 10px;
    text-align: center;
}

.bg-success {
    padding: 10px;
}

#header-dark .bg-danger {
    color: #000000;
}

#header-dark .bg-info {
    color: #000000;
}

#header-dark .bg-warning {
    color: #000000;
}

a.active-page {
    text-decoration: underline;
}

.editor-container {
    width: 70%;
}

.stacks-editor {
    max-width: 200px;
}

#workflow-help {
    clear: left;
    margin-bottom: 35px;
}

#workflow-help p {
    font-size: 16px;
    text-align: left;
}

#workflow-help h1, #workflow-help h2 {
    text-align: center;
}

/* Override button size for the bootstrap-select buttons to account for our
 * font. It defaults to 14px which is a bit too big for the default dropdown
 * text. */
.bootstrap-select .btn {
    font-size: 12px;
}

td.login-name {
    padding-top: 15px !important;
    white-space: nowrap;
}

#footer-logo-1 {
    display: block;
}

#footer-logo-2 {
    display: none;
}

@media(min-width:992px) {
    .article-teaser .article-author span.gh-name {
        right: 70px;
    }
}

@media(max-width:992px) {
    .affix {
        position: static;
    }

    #user-info h4 {
        margin-top: 20px;
    }

    #article-sidebar {
        text-align: center;
    }

    #article-sidebar .emphasize-dark {
        display: inline;
    }

    #article-sidebar .hr-container {
        width: 100%;
    }

    #article {
        margin-top: 40px;
    }

    .article-description {
        height: 110px;
    }

    .article-teaser img.thumbnail {
        display: none;
    }

    .article-teaser .article-author {
        text-align: center;
        font-size: 14px;
    }

    .article-teaser .article-author span.name {
        float: left;
        margin-top: 0px;
    }

    .article-teaser .article-author span.gh-name {
        position: absolute;
        top: 25px;
        left: 0px;
    }

    .article-teaser .article-author {
        height: 40px;
    }

    .article-teaser .article-author img {
        width: 35px;
        height: 35px;
        border-radius: 20px;
     }
}

@media(max-width:767px) {
    #footer .form-group-sm {
        margin: 10px auto;
    }

    #footer #signup .form-group {
        width: auto;
    }

    #title {
        font-size: 32px;
        padding-top: 20px;
    }

    .lead {
        font-size: 30px;
    }

    /* Remove push on article text due to octicon link on mobile, there's no
     * hover here. */
    #article p {
        padding-left: 0px;
    }

    #article pre, #article blockquote, #article form {
        margin-left: 0px;
    }

    #article h1 .octicon-link,
    #article h2 .octicon-link,
    #article h3 .octicon-link,
    #article h4 .octicon-link,
    #article h5 .octicon-link,
    #article h6 .octicon-link {
        display: none;
    }

    #article h1:hover .octicon-link,
    #article h2:hover .octicon-link,
    #article h3:hover .octicon-link,
    #article h4:hover .octicon-link,
    #article h5:hover .octicon-link,
    #article h6:hover .octicon-link {
        display: none;
    }

    .close-btn {
        top: 10px;
        right: 5px;
    }

    /* Clear social share buttons that show up at bottom on mobile. */
    #signup-row {
        bottom: 50px;
    }
}


@media(min-width:1170px) {
    #article-sidebar {
        /* Avoid sidebar overflowing at really wide resolutions */
        max-width: 200px;
    }

    #footer-logo-1 {
        display: none;
    }

    #footer-logo-2 {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .btn-autosize {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
}
